<%= form_with(model: noticia, local: true) do |form| %>
  <% if noticia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(noticia.errors.count, "error") %> prohibited this noticia from being saved:</h2>

      <ul>
      <% noticia.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label :descripcion_corta %>
    <%= form.text_field :descripcion_corta %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :contenido %>
    <%= form.text_field :contenido %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.text_field :fecha %>
  </div>

  <div class="field">
    <%= form.label :sitio_id %>
    <%= form.text_field :sitio_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
